.play-btn,
.skip-btn {
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 20px;
    height: 20px;
  }
}

@media screen and (max-width: 768px) {
  .play-btn {
    width: 20px;
    height: 20px;

    img {
      width: 100%;
      height: 100%;
    }
  }
}
